<!-- Header layout partial -->
<%- include("partials/header"); -%>
<%- include("partials/bootstrap_navbar"); -%>

<form>
<!-- New post button -->
<a class="postBtn btn btn-primary btn-lg my-4 ml-2" href="/compose" role="button">Add Post</a>
</form>
<!-- The "Title" content from input in compse.ejs -->
<h1> <%= title %> </h1>
<!-- The "Post" content from textarea in compose.ejs -->
<p> <%= content %> </p>





<!-- Footer layout partial -->
<%- include("partials/footer") -%>
